{% extends 'base.html'%} {% load static %} {% block content %}
<style>
  #particles-js {
    height: 100vh;
    width: 100vw;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .large {
    font-size: 2.5em;
  }

  .listQ {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1em;
    margin: 0.5em;
    max-width: 80vw;
    border-radius: 1em;
    margin-top: 1em;
    box-shadow: 0px 2px 8px 2px #a26d28;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 2em;
    /* background-color: blanchedalmond; */
  }
</style>

<div class="content">
  {% if end %}
  <p class="large">
    Quiz Expired on {{end}}
  </p>
  {% else %}
  <h2 class="large">
    Quiz Live On
  </h2>

  <p id="demo" class="large"></p>
  {% endif %}
</div>

<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Aug 23, 2020 15:37:25").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML =
      days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  });

  console.log("Thanks For Participating");
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r119/three.min.js"
  integrity="sha512-E1+SnTWyHYoY5MN8wpL0SI4TYbpWN12sHXyEViwbzzEyq6GHxQrPFDzEeUDab4emXcf3Yj41Tht2JZnpo3kjwA=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.18/vanta.clouds.min.js"
  integrity="sha512-7y/n/64qkxINADOBu7lt+rLroZuVcmKLk6N83E5mqzAVy1LXnkjq7DK9BelQXCiDY+eXvdO3DM6sIFCNJCS6MQ=="
  crossorigin="anonymous"
></script>
<script>
  VANTA.CLOUDS({
    el: "#particles-js",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.0,
    minWidth: 200.0,
    speed: 2.4,
  });
</script>

{% endblock %}
